@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
.leftBar {
  width: 20% !important;
  background-color: rgb(25, 25, 25);
}
#canzonciona{
  cursor: default;
}
.innerLeft {
  background-color: black;
  height: 100vh;
}

.menu {
  background-color: rgb(25, 25, 25);
}

.firstUl {
  margin: 10px 0;
}

.riga {
  background-color: black;
}

.leftBar a, .menu a p, hr {
  color: #9B9B9B;
}

.commenti {
  height: 77vh;
}

.menu a:hover {
  color: white;
}

.commenti a p {
  font-size: 0.8rem;
}

.firstUl li a {
  line-height: 0;
  font-size: 0.7rem;
}

.secondUl {
  margin-bottom: 0;
}
.secondUl li a {
  line-height: 1.2;
  font-size: 0.7em;
}
.secondUl li > a > i {
  font-size: 1.3em;
}

.btnHeart {
  padding: 0.1rem 0.2rem;
  background-image: linear-gradient(to right bottom, #3b1ba9, #4028a9, #4633a8, #4c3da7, #5246a5, #5b56ac, #6566b1, #7075b6, #848fc3, #9ba8cf, #b6c1da, #d4dae5);
}
.btnHeart .bi-suit-heart-fill {
  color: #B2B2B2;
}

.btnBookmark {
  padding: 0.1rem 0.2rem;
  background-image: linear-gradient(to right bottom, #004537, #004537, #004537, #004537, #004537, #0f5148, #205d59, #306969, #57848c, #81a0ad, #abbcca, #d4dae5);
}
.btnBookmark .bi-bookmark-fill {
  color: #149643;
}

.commenti hr {
  width: 90%;
  margin: 0 auto 1rem;
}

.SizeBtn {
  font-size: 1.3rem;
}

.commenti2 {
  background-color: rgb(25, 25, 25);
}

@media (max-width: 880px) {
  /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
  .leftBar {
    width: 64.55px !important;
  }
  .leftBar .scritta {
    display: none;
  }
  .leftBar .bi-house-door-fill {
    margin: 0 auto;
  }
  .leftBar .bi-search {
    margin: 0 auto;
  }
  .commenti {
    height: 79vh;
  }
  /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
}
.colonnaDestra {
  height: 88vh;
  width: 220px !important;
  background-color: rgb(25, 25, 25);
  color: #636363;
}
.colonnaDestra .attività {
  color: #E6E6E6;
}
.colonnaDestra .attività i {
  color: #636363 !important;
  margin-left: 0rem;
}
.colonnaDestra .attività i:hover {
  color: white !important;
}

.amici {
  font-size: 0.6rem;
  font-weight: 600;
}
.amici .amico {
  margin-top: 1rem;
}
.amici ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}
.amici ul li {
  margin-bottom: 0.2rem;
}
.amici a {
  text-decoration: none;
  color: #636363 !important;
}
.amici a:hover {
  color: white !important;
}
.amici .nomeAmico {
  font-weight: bold;
  font-size: 0.7rem;
}

@media (max-width: 1151px) {
  /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
  /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
}
/* --- PLAYER --- */
.player {
  background-color: black;
  position: sticky;
  bottom: 0;
  z-index: 999;
  height: 8%;
  box-sizing: content-box;
}

.playerImg {
  width: 3.4em;
  height: 3.4em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%; /* Assicura che il testo non superi la larghezza massima della colonna */
}

.titoletto {
  line-height: initial;
}

.playerNowText {
  line-height: 0.8;
}
.playerNowText .playerNowSong {
  padding-bottom: 0.7rem;
}
.playerNowText a {
  font-size: 0.6em;
}
.playerNowText .playerNowArtist {
  color: #9B9B9B;
  padding-bottom: 0.8rem;
}
.playerNowText .playerNowArtist:hover {
  color: #1ED760;
}

.cuoricino {
  position: relative;
}

.bi-heart {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  color: #9B9B9B;
}
.bi-heart:hover {
  color: #1ED760;
}

.playerIcons a {
  margin: 8px;
}

.playerIcons .bi {
  font-size: 1.3rem;
  color: #9B9B9B;
}
.playerIcons .bi:hover {
  color: #1ED760;
}
.playerIcons .bi-shuffle, .playerIcons .bi-repeat {
  color: #1ED760;
}

.round-time-bar {
  margin: 0.5rem auto;
  overflow: hidden;
  height: 5px;
  width: 70%;
  background: linear-gradient(to bottom, #1ED760, #43e57d);
  border-radius: 5px;
}

.round-time-bar div {
  height: 5px;
  width: 105%;
  animation: roundtime calc(var(--duration) 1s) steps(var(--duration)) linear;
  transform-origin: right center;
  background-color: #9B9B9B;
}

.round-time-bar[data-style=smooth] div {
  animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

.round-time-bar[data-style=fixed] div {
  width: calc(var(--duration) * 5%);
}

@keyframes roundtime {
  to {
    /* More performant than width */
    transform: scaleX(0);
  }
}
.iconsDx {
  padding-bottom: 0.1rem;
}
.iconsDx a {
  margin: 3px;
}
.iconsDx .bi {
  font-size: 1.3rem;
  color: #9B9B9B;
}
.iconsDx .bi:hover {
  color: #1ED760;
}

/** Baseline, reset styles **/
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 3rem;
  min-width: 5rem;
}

/* Removes default focus */
input[type=range]:focus {
  outline: none;
}

/** Chrome, Safari, Opera and Edge Chromium styles **/
/* slider track */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #9b9b9b;
  border-radius: 0.5rem;
  height: 0.3rem;
}

/* slider thumb */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3.2px; /* Centers thumb on the track */
  background-color: #1ed760;
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
}

input[type=range]:focus::-webkit-slider-thumb {
  outline: 1px solid #1ed760;
  outline-offset: 0.125rem;
}

/** Firefox styles **/
/* slider track */
input[type=range]::-moz-range-track {
  background-color: #9b9b9b;
  border-radius: 0.5rem;
  height: 0.6rem;
}

/* slider thumb */
input[type=range]::-moz-range-thumb {
  background-color: #1ed760;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
}

input[type=range]:focus::-moz-range-thumb {
  outline: 0.5px solid #1ed760;
  outline-offset: 0.125rem;
}

/* ------ CENTRO FELIPE ------ */
.centroFelipe {
  flex: 1;
  margin: 0 8px;
  border-radius: 5px 5px 7px 7px/7px 7px 5px 5px;
  width: 62% !important;
  height: 88vh;
  overflow-y: auto;
  padding-bottom: 100px;
  padding-bottom: 130px;
  background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
  /* --- MODIFICHE LEO ---*/
}
.centroFelipe .bannerimg {
  position: relative;
  height: 370px;
  object-fit: cover;
  object-position: center 30%;
  filter: brightness(50%);
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.centroFelipe .custom-user-logo {
  width: 30px;
}
.centroFelipe .custom-mt {
  margin-top: 80px;
  padding-top: 10px;
}
.centroFelipe .brandimg {
  width: 75px;
  height: 75px;
}
.centroFelipe .list-group-item {
  border: none;
}
.centroFelipe .text-lightgray {
  color: #c0c0c0;
}
.centroFelipe .truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%; /* Assicura che il testo non superi la larghezza massima della colonna */
}
.centroFelipe .ascolti, .centroFelipe .durata {
  color: #c0c0c0;
  font-size: 0.9em;
}
@media (max-width: 1278px) {
  .centroFelipe {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }
  .centroFelipe .destraInt {
    display: none;
  }
}
@media (min-width: 1346px) {
  .centroFelipe {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }
  .centroFelipe .infoList {
    width: 66.66% !important;
  }
}
@media (max-width: 880px) {
  .centroFelipe {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }
  .centroFelipe .colAscolti {
    display: none !important;
  }
}
.centroFelipe .freccette {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #131313;
  text-align: center;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9B9B9B;
}
.centroFelipe .freccette:hover {
  cursor: pointer;
}
.centroFelipe ul {
  padding: 0.2rem 0.5rem 0.3rem;
  background-color: #242323;
  list-style-type: none;
  border-radius: 25px;
}
.centroFelipe ul .fotoProfilo img {
  width: 1.5rem;
}
.centroFelipe ul .nomeProfilo {
  margin-left: 10px;
}
.centroFelipe .piccoloFont {
  font-size: 0.8em;
  color: #c0c0c0;
}
.centroFelipe .indice {
  color: #c0c0c0;
}
.centroFelipe .cuore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  right: 0rem;
  bottom: 0.3rem;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  position: absolute;
}
.centroFelipe .cuore i {
  font-size: 0.8rem;
}
.centroFelipe .btnDisco button {
  border: none;
  border-radius: 20px;
  margin-right: 5px;
  font-size: 0.8em;
  padding: 5px 10px;
}
.centroFelipe .btnDisco button:nth-child(2) {
  background-color: rgb(29, 29, 29);
  color: white;
}
.centroFelipe .btnDisco button:nth-child(3) {
  background-color: rgb(29, 29, 29);
  color: white;
}
.centroFelipe .longCard .card {
  background-color: rgb(29, 29, 29);
  color: snow;
}
.centroFelipe .longCard .card img {
  padding: 10px;
  border-radius: 14px;
}
.centroFelipe .longCard .card .card-body p:nth-child(1) {
  font-weight: bold;
}
.centroFelipe .longCard .card .card-body p:nth-child(2) {
  font-size: 0.8em;
  color: #9B9B9B;
}
.centroFelipe .playHover {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  padding-left: 0.1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  display: none;
}
.centroFelipe .playHover i {
  font-size: 1.5rem;
}
.centroFelipe .card:hover .playHover {
  cursor: pointer;
  display: block;
}
.centroFelipe .playHover:hover {
  transition: all 0.3s ease;
}
.centroFelipe .playHover:hover:hover {
  transform: scale(1.1);
}
.centroFelipe .playHoverLongCard {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.8rem;
  bottom: 7rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  display: none;
}
.centroFelipe .playHoverLongCard i {
  font-size: 1.5rem;
}
.centroFelipe .card:hover .playHoverLongCard {
  cursor: pointer;
  display: block;
}
.centroFelipe .playHoverLongCard:hover {
  transition: all 0.3s ease;
}
.centroFelipe .playHoverLongCard:hover:hover {
  transform: scale(1.1);
}
.centroFelipe .card:hover {
  cursor: pointer;
  background-color: #282828;
}

.copertinaAlbumSmall {
  width: 200px;
  height: 200px;
  float: left;
}

.centroAnna .rigaAlbum {
  color: #9B9B9B;
  font-size: 0.9rem;
}
.centroAnna .hrAlbum {
  color: #9B9B9B;
}
.centroAnna .bi {
  color: #9B9B9B;
}
.centroAnna .bi:hover {
  cursor: pointer;
  color: #1ED760;
}
.centroAnna .bi .bi-play-circle-fill {
  color: #1ED760;
}
.centroAnna .featuringTracks {
  font-size: 0.75rem;
  color: #9B9B9B;
}
.centroAnna .indice:hover {
  color: #1ED760;
  cursor: pointer;
}

/*-----CENTRO PAGINA SEARCH-----*/
.searchPage {
  flex: 1;
  margin: 0 8px;
  border-radius: 5px 5px 7px 7px/7px 7px 5px 5px;
  width: 62% !important;
  height: 88vh;
  overflow-y: auto;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
}
.searchPage .freccette {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #131313;
  text-align: center;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9B9B9B;
}
.searchPage .freccette:hover {
  color: #fff;
  cursor: pointer;
}
.searchPage ul {
  padding: 0.2rem 0.5rem 0.3rem;
  background-color: #242323;
  list-style-type: none;
  border-radius: 25px;
}
.searchPage ul .fotoProfilo img {
  width: 1.5rem;
}
.searchPage ul .nomeProfilo {
  margin-left: 10px;
}
.searchPage .filtriRicerca {
  margin-bottom: 1rem;
  cursor: pointer;
}
.searchPage .divCard {
  background: none;
  overflow: hidden !important;
  cursor: pointer;
}
.searchPage .arancio {
  background-color: #E13200;
}
.searchPage .blu {
  background-color: #1F3263;
}
.searchPage .fucsia {
  background-color: #E8105C;
}
.searchPage .verde {
  background-color: #148A0A;
}
.searchPage .arancio1 {
  background-color: #BB5801;
}
.searchPage .fucsia1 {
  background-color: #E0128B;
}
.searchPage .viola {
  background-color: #8C67AB;
}
.searchPage .searchInp {
  color: white;
  background-color: #242424;
  flex-wrap: nowrap !important;
}
.searchPage .searchInp:hover {
  color: white;
  background-color: #242424;
  flex-wrap: nowrap !important;
  border-color: white !important;
  border-left: none !important;
  box-shadow: none !important;
}
.searchPage .searchInp:focus {
  color: white;
  background-color: #242424;
  flex-wrap: nowrap !important;
  border-color: white !important;
  border-left: none !important;
  box-shadow: none !important;
}
.searchPage .btnInput {
  border-right: none !important;
}
.searchPage .card {
  position: relative;
}
.searchPage .squareCard {
  width: 12rem !important;
  height: 12rem !important;
  box-sizing: border-box;
}
.searchPage .squareCard h5 {
  color: white;
}
.searchPage .divCard {
  background: none;
}
.searchPage .RotateImg {
  width: 5rem !important;
  height: 5rem !important;
  transform: rotate(30deg);
  position: absolute;
  top: 7rem;
  left: 8rem;
}
.searchPage .cardRisRil {
  background-color: #181818;
}
.searchPage .playPCard {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.8rem;
  bottom: 7rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  display: none;
}
.searchPage .playPCard i {
  font-size: 1.5rem;
}
.searchPage .card:hover .playPCard {
  cursor: pointer;
  display: block;
}
.searchPage .playPCard:hover {
  transition: all 0.3s ease;
}
.searchPage .playPCard:hover:hover {
  transform: scale(1.1);
}
.searchPage .card:hover {
  cursor: pointer;
  background-color: #282828;
}
.searchPage .pBrani {
  font-size: 0.8rem;
}
.searchPage .cardPlayl {
  background-color: rgb(29, 29, 29);
  color: snow;
}
.searchPage .cardPlayl img {
  padding: 10px;
  border-radius: 14px;
}
.searchPage .cardPlayl .card-body p:nth-child(1) {
  font-weight: bold;
}
.searchPage .cardPlayl .card-body p:nth-child(2) {
  font-size: 0.8em;
  color: #9B9B9B;
}

body {
  color: white !important;
  overflow-y: hidden;
}

.foto {
  padding: 20px 0;
}

.bottoniMobile {
  display: none;
}

.artistiMobile {
  display: none !important;
}

.riga {
  height: 100vh;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 24px;
}

.finestrona {
  padding: 16px;
}

/* --- CENTRO --- */
.centroLeo {
  flex: 1;
  margin: 0 8px;
  padding-right: 0 !important;
  border-radius: 5px 5px 7px 7px/7px 7px 5px 5px;
  width: 62% !important;
  height: 88vh;
  overflow-y: auto;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom, #3c3b3b, #343434, #2d2d2d, #262626, #1f1f1f, #1c1c1c, #191919, #161616, #161616, #151515, #151515, #141414);
}
.centroLeo .testoBC {
  flex: 1;
  margin-left: 10px;
}
.centroLeo .freccette {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #131313;
  text-align: center;
  border-radius: 50%;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9B9B9B;
}
.centroLeo .freccette:hover {
  color: #fff;
  cursor: pointer;
}
.centroLeo ul {
  padding: 0.2rem 0.5rem 0.3rem;
  background-color: #242323;
  list-style-type: none;
  border-radius: 25px;
}
.centroLeo ul .fotoProfilo img {
  width: 1.5rem;
}
.centroLeo ul .nomeProfilo {
  margin-left: 10px;
}
.centroLeo .big-card {
  background-image: linear-gradient(to right top, #0e0e0e, #101010, #111111, #131313, #141414, #181818, #1b1b1b, #1f1f1f, #262626, #2d2d2d, #343434, #3c3b3b);
  color: white;
  border: none;
  height: 30%;
}
.centroLeo .big-card .card-body {
  font-size: 0.8em;
}
.centroLeo .big-card img {
  width: 190px;
}
.centroLeo .big-card .card-text1 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.centroLeo .big-card .card-text2 {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.centroLeo .testoUp p:nth-child(2) {
  color: #9B9B9B;
  background-color: rgb(48, 48, 48);
  border-radius: 15px;
  font-size: 0.5em;
}
.centroLeo .bottoniUp {
  display: flex;
  align-items: center;
}
.centroLeo .bottoniUp button:nth-child(1) {
  background-color: #1db954;
  padding: 1.1% 6%;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 0.8em;
  transition: all 0.3s ease;
}
.centroLeo .bottoniUp button:nth-child(1):hover {
  transform: scale(1.1);
}
.centroLeo .bottoniUp button:nth-child(2) {
  background-color: #141414;
  padding: 1.1% 5%;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  border: 1px solid snow;
  color: snow;
  margin-right: 0.8em;
  transition: all 0.3s ease;
}
.centroLeo .bottoniUp button:nth-child(2):hover {
  transform: scale(1.1);
}
.centroLeo .bottoniUp i {
  font-size: 1.5em;
}
.centroLeo .bottoniUp i:hover {
  color: #1ED760;
  cursor: pointer;
}
.centroLeo .cards .card {
  height: 50%;
  font-size: 0.8em;
  border: none;
}
.centroLeo .cards .body {
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: rgb(48, 48, 48);
  border: none;
  color: snow;
}
.centroLeo .para {
  font-size: 0.7em;
}
.centroLeo .longCard .card,
.centroLeo .rigaNascosta .card {
  background-color: rgb(29, 29, 29);
  color: snow;
}
.centroLeo .longCard .card img,
.centroLeo .rigaNascosta .card img {
  padding: 10px;
  border-radius: 14px;
}
.centroLeo .longCard .card .card-body p:nth-child(1),
.centroLeo .rigaNascosta .card .card-body p:nth-child(1) {
  font-weight: bold;
}
.centroLeo .longCard .card .card-body p:nth-child(2),
.centroLeo .rigaNascosta .card .card-body p:nth-child(2) {
  font-size: 0.8em;
  color: #9B9B9B;
}
.centroLeo .playHover {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.3rem;
  bottom: 0.3rem;
  padding-left: 0.1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  display: none;
}
.centroLeo .playHover i {
  font-size: 1.5rem;
}
.centroLeo .card:hover .playHover {
  cursor: pointer;
  display: block;
}
.centroLeo .playHover:hover {
  transition: all 0.3s ease;
}
.centroLeo .playHover:hover:hover {
  transform: scale(1.1);
}
.centroLeo .playHoverLongCard {
  width: 2.3rem;
  height: 2.3rem;
  right: 0.8rem;
  bottom: 7rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #1ED760;
  display: none;
}
.centroLeo .playHoverLongCard i {
  font-size: 1.5rem;
}
.centroLeo .card:hover .playHoverLongCard {
  cursor: pointer;
  display: block;
}
.centroLeo .playHoverLongCard:hover {
  transition: all 0.3s ease;
}
.centroLeo .playHoverLongCard:hover:hover {
  transform: scale(1.1);
}
.centroLeo .card:hover {
  cursor: pointer;
  background-color: #282828;
}
.centroLeo .mostraAltro p,
.centroLeo .mostraAltro h4 {
  cursor: pointer;
}
.centroLeo .mostraAltro p:hover,
.centroLeo .mostraAltro h4:hover {
  text-decoration: underline;
}
.centroLeo .mostraMeno p {
  cursor: pointer;
  font-size: 1.2em;
}
.centroLeo .mostraMeno p:hover {
  text-decoration: underline;
}
@media (max-width: 1300px) {
  .centroLeo {
    /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
    /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
  }
  .centroLeo .cards .card {
    width: 47% !important;
  }
}

@media (max-width: 1100px) {
  .artisti .card {
    width: 32% !important;
  }
  .artisti .card:last-child {
    display: none;
  }
  .album .card {
    width: 32% !important;
  }
  .album .card:last-child {
    display: none;
  }
  .longCard3 .card {
    width: 32% !important;
  }
  .longCard3 .card:last-child {
    display: none;
  }
}
/* ----- MOBILE ----*/
@media (max-width: 530px) {
  .riga {
    padding: 0 !important;
  }
  .para {
    display: none;
  }
  .cards {
    padding-right: 10px;
  }
  h4 {
    margin-bottom: 0.7em !important;
  }
  .carousel-container::-webkit-scrollbar {
    height: 14px;
    width: calc(100% - 48px);
  }
  .carousel-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .carousel-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .carousel-container::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
  }
  .artistiMobile {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    background-color: transparent !important;
  }
  .artistiMobile .card {
    width: 33% !important;
    background-color: transparent !important;
    border: 0 !important;
  }
  .artistiMobile .card .card-body {
    padding-top: 0;
    background-color: transparent;
  }
  .artistiMobile .card .card-body p:nth-child(1) {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }
  .artistiMobile .card .card-body .card-text {
    display: none;
  }
  .artistiMobile .carousel-container {
    width: 100% !important;
    padding-block: 16px 32px !important;
    margin: 16px 32px !important;
    overflow-x: auto !important;
    display: flex !important;
    width: 100% !important;
    gap: 8px !important;
    align-items: center !important;
    scroll-snap-type: x mandatory !important;
    background-color: transparent !important;
  }
  .artistiMobile .carousel-slide {
    flex: 1 0 30% !important;
    aspect-ratio: 1 !important;
    flex-flow: column nowrap !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    scroll-snap-align: center !important;
  }
  .finestrona {
    padding-right: 0 !important;
  }
  /* Regole CSS da applicare quando la larghezza è 1278px o inferiore */
  .leftBar {
    display: none;
  }
  .contenitore {
    padding: 0 !important;
  }
  .centroLeo {
    margin: 0;
  }
  .centroLeo .canzonciona {
    display: none;
  }
  .centroLeo .artisti {
    display: none !important;
  }
  .centroLeo .album {
    flex: none !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    background-color: transparent !important;
  }
  .centroLeo .album .centroLeo::-webkit-scrollbar-thumb,
  .centroLeo .album .centroFelipe::-webkit-scrollbar-thumb,
  .centroLeo .album .commenti::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Colore del pollice */
    border-radius: 6px;
    /* Bordo arrotondato del pollice */
    height: 5px;
    /* Altezza del pollice */
  }
  .centroLeo .album .card {
    width: 33% !important;
    background-color: transparent !important;
    border: 0 !important;
    margin-right: 10px;
  }
  .centroLeo .album .card .card-img-top {
    padding: 0 !important;
    border-radius: 0 !important;
  }
  .centroLeo .album .card .card-body {
    padding: 10px 0;
    font-size: 0.8em;
    width: 100%;
  }
  .centroLeo .album .card .card-body p:nth-child(1) {
    margin-bottom: 0;
    font-size: 0.8em;
  }
  .centroLeo .album .carousel-container {
    width: 100% !important;
    padding-block: 16px 32px !important;
    margin: 16px 32px !important;
    overflow-x: auto !important;
    display: flex !important;
    width: 100% !important;
    gap: 8px !important;
    align-items: center !important;
    scroll-snap-type: x mandatory !important;
    background-color: transparent !important;
  }
  .centroLeo .album .carousel-slide {
    flex: 1 0 30% !important;
    aspect-ratio: 1 !important;
    flex-flow: column nowrap !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    scroll-snap-align: center !important;
  }
  .centroLeo .longCard3 .card {
    width: 33% !important;
  }
  .centroLeo .freccette {
    display: none;
  }
  .centroLeo .rigaMobile {
    margin: 0 !important;
    display: flex;
  }
  .centroLeo .rigaMobile ul {
    background-color: transparent;
    display: flex;
  }
  .centroLeo .rigaMobile ul .primo {
    background-color: #1db954;
    color: #0e0e0e;
  }
  .centroLeo .rigaMobile ul li > button {
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 0.7em;
    padding: 5px 10px;
    background-color: rgb(48, 48, 48);
    color: white;
  }
  .nomeProfilo {
    display: none;
  }
  .player {
    padding-bottom: 60px;
    justify-content: center;
  }
  .player .iconsDX {
    padding-right: 12px !important;
  }
  .playerImg {
    margin-left: 0.4em;
  }
  .round-time-bar {
    margin: 0.5rem auto;
    overflow: hidden;
    height: 2px;
    width: 70%;
    background: linear-gradient(to bottom, #1ED760, #43e57d);
    border-radius: 5px;
  }
  .round-time-bar div {
    height: 2px;
    width: 105%;
    animation: roundtime calc(var(--duration) 1s) steps(var(--duration)) linear;
    transform-origin: right center;
    background-color: #9B9B9B;
  }
  .sizeBtn::before,
  .scritta,
  .btn {
    color: white !important;
  }
  /* Altre regole CSS specifiche per larghezza inferiore a 1278px */
}
/* Stile della scrollbar */
.centroLeo::-webkit-scrollbar,
.centroFelipe::-webkit-scrollbar,
.commenti::-webkit-scrollbar {
  width: 4px;
  /* Larghezza della scrollbar */
}

.centroLeo::-webkit-scrollbar-thumb,
.centroFelipe::-webkit-scrollbar-thumb,
.commenti::-webkit-scrollbar-thumb {
  background-color: transparent; /* Colore del pollice */
  border-radius: 6px; /* Bordo arrotondato del pollice */
  height: 5px; /* Altezza del pollice */
  background-color: transparent;
  /* Colore del pollice */
  border-radius: 6px;
  /* Bordo arrotondato del pollice */
  height: 5px;
  /* Altezza del pollice */
}

/* Stile della traccia (la parte fissa) della scrollbar */
.centroLeo::-webkit-scrollbar-track,
.centroFelipe::-webkit-scrollbar-track,
.commenti::-webkit-scrollbar-track {
  background-color: transparent;
  /* Colore della traccia */
  height: 5px;
  /* Altezza della traccia */
}

/* Cambia lo stile della scrollbar quando è attiva (quando l'utente la sta trascinando) */
.centroLeo::-webkit-scrollbar-thumb:active,
.centroFelipe::-webkit-scrollbar-thumb:active,
.commenti::-webkit-scrollbar-thumb:active {
  background-color: #555;
  /* Cambia il colore del pollice quando è attivo */
}